body {background-color: #111111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; 
}

h1 { color:f5d000;
text-align: center
}

p { text-align: center} 

a{ color: #f5d000;} 